.containerChat {
  width: 350px;
  height: 450px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 89%,
    rgba(236, 236, 236, 0.829) 89%,
    rgba(236, 236, 236, 0.829) 100%
  );
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  border-bottom-left-radius: 20px;
  box-shadow: -0.76px 0.7px 0.5px rgba(0, 0, 0, 0.2),
    -0.76px -0.7px 0.5px rgba(0, 0, 0, 0.2);
  position: relative;
  right: 50px;
}
.containerChat::before {
  content: "";
  width: 40px;
  height: 470px;
  position: absolute;
  border-top-right-radius: 20px;
  bottom: -20px;
  right: -14px;
  box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 85%,
    rgba(241, 241, 241, 1) 85%,
    rgba(236, 236, 236, 0.829) 100%
  );
}
.containerChat::after {
  content: "";
  width: 40.9px;
  height: 20px;
  border-top-right-radius: 30px;
  position: absolute;
  bottom: -20.7px;
  right: -14px;
  box-shadow: 1px -0.7px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.message {
  position: absolute;
  bottom: 60px;
  height: 360px;
  overflow: auto;
  padding: 0 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.075);
  width: 7px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #81d1db;
  border-radius: 10px;
}
.form {
  width: 361px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  right: -14px;
  background-color: transparent;
  z-index: 1;
  border-top: 3px solid rgb(233, 233, 233);
}

.chatInput {
  width: 100%;
  border: none;
  height: 46px;
  margin-right: 5px;
  background-color: transparent;
}
.chatInput:focus {
  outline: none;
}

.sendButton {
  width: 50px;
  border: none;

  margin-left: 5px;
}

.sendButton img {
  width: 30px;
  height: 30px;
  transform: rotate(20deg);
}
