.containerChat {
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 60px;

  position: relative;
  right: 40px;
}
.containerChat::after {
  content: "";
  width: 340px;
  height: 20px;
  border-top-right-radius: 20px;

  background-color: #282c34;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.message {
  position: absolute;
  bottom: 80px;
  height: 310px;
  overflow: auto;
  padding: 0 10px;
}
.chatInput {
  width: 70%;
  border: none;
  border: 2px solid rgba(236, 236, 236, 0.829);
  border-bottom: 2px solid #282c34;

  height: 40px;
  margin-right: 5px;
}
.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
}
.sendButton {
  border-radius: 50%;
  width: 50px;
  border: 2px solid rgba(236, 236, 236, 0.829);
}

.sendButton img {
  width: 30px;
  height: 30px;
}
